<div class="section__content">
  <sh-alert class="with-margin-bottom" color="success" label="Want to claim your pre-paid Pod credits?"></sh-alert>
  <div class="desc">Just log in to your account to check your balance and claim them.</div>
  <sh-button href="{{ routes.account_login_url }}" label="Login"></sh-button>
</div>