<div class="section__content">
  <div class="pod-availabilities">
    <sh-credit-displayment-block
      id="credit-displayment-standard"
      class="pod-availability pod-availability--standard" 
      credit="{{ standardPodCredit }}"
      label="Standard Pod"
      postfix="available"
      >
    </sh-credit-displayment-block>
    <sh-credit-displayment-block
      id="credit-displayment-any"
      class="pod-availability pod-availability--any" 
      credit="{{ anyMushPodCredit }}"
      label="AnyMush Pod"
      postfix="available"
      >
    </sh-credit-displayment-block>
  </div>
</div>